.tire-container{
    background-color: aqua;
    height: 500px;
    width: 500px;
   
}
.tier-row{
background-color: blueviolet;
display: grid;
grid-template-columns: 0.7fr 2.8fr 0.4fr 0.4fr;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 10vh;
width: auto;
border-style: solid;
}
.labal{
    background-color: darkgoldenrod;
    grid-area: 1 / 1 / 2 / 2;
}

.tier-sort{
    background-color: red;
    grid-area: 1 / 2 / 2 / 3;
}

.setting{
    background-color: chartreuse;
    grid-area: 1 / 3 / 2 / 4;
}
.move-buttons{
    background-color: darkcyan;
    grid-area: 1 / 4 / 2 / 5;
}

.tile-holder{
    
    background-color: black;
    height: auto;
    min-height: 25vh ;
    justify-content: flex-start;
    
  
}

.tile{
    background-color: green;
    height:10vh;
    width: 10vh;
   
}

.gallery {
    column-count: 4;
    overflow:auto;
    height: 50vh;
  }
.results {
    height:10vh;
    width: 10vh;
}
.tier-layout{
    
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    gap: 0px 6px;
    grid-template-areas:". .";
    
}
.tile-render {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted green;
  }
  
  .tile-render span {
    visibility: hidden;
    width: 50vh;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
  
    position: absolute;
    z-index: 1;
  }
  
  .tile-render:hover span {
    visibility: visible;
  }